<!-- 我們會使用 Rails 的一個名為表單產生器的功能來建立我們的表單。使用表單產生器，我們可以撰寫最少量的程式碼來輸出一個完全設定且遵循 Rails 約定的表單。 -->

<h1>建立文章</h1>

<%= render "form", article: @article %>
<!-- 由於部分渲染檔案是共用程式碼，因此最佳做法是 不要 讓它們 依賴 控制器動作 設定 的 特定執行 實體變數。我們會將文章作為一個 區域變數 傳遞給 部分。 -->
<!-- 部分渲染檔案名稱必須加上底線字首，例如 _form.html.erb。但在呈現時，它會不帶底線字首，例如 render "form"。 -->